<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IPCOREDS.Properties.Settings.TCMConnectionString"
            connectionString="Data Source=LINHDH-PC\SQLEXPRESS;Initial Catalog=TCM;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="IPCOREDS.Properties.Settings.CRM_HN_03ConnectionString"
            connectionString="Data Source=DAOVIETHIEN-PC;Initial Catalog=CRM.HN_03;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="IPCOREDS.Properties.Settings.CRM_HN_03ConnectionString1"
            connectionString="Data Source=LINHDH-PC\SQLEXPRESS;Initial Catalog=CRM.HN_03;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="IPCOREDS.Properties.Settings.TOS_TicketSystemConnectionString"
            connectionString="Data Source=192.168.10.5;Initial Catalog=TOS_TicketSystem;Persist Security Info=True;User ID=crmtpe;Password=crmtpe@topica#2014"
            providerName="System.Data.SqlClient" />
        <add name="IPCOREDS.Properties.Settings.TOS_TicketSystemConnectionString1"
            connectionString="Data Source=192.168.10.5;Initial Catalog=TOS_TicketSystem;User ID=crmtpe;Password=crmtpe@topica#2014"
            providerName="System.Data.SqlClient" />
        <add name="IPCOREDS.Properties.Settings.TOS_TicketSystemConnectionString2"
            connectionString="Data Source=203.162.121.74;Initial Catalog=TOS_TicketSystem;Persist Security Info=True;User ID=crmtpe;Password=crmtpe@topica#2014"
            providerName="System.Data.SqlClient" />
        <add name="IPCOREDS.Properties.Settings.DVMCConnectionString"
            connectionString="Data Source=LINHDH-PC\SQLEXPRESS;Initial Catalog=DVMC;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="IPCOREDS.Properties.Settings.DVMCConnectionString1"
            connectionString="Data Source=42.112.28.4;Initial Catalog=DVMC;User ID=sa;Password=admin@topica#14"
            providerName="System.Data.SqlClient" />
        <add name="IPCOREDS.Properties.Settings.DVMCConnectionString2"
            connectionString="Data Source=anhpt-pc\sqlexpressr2;Initial Catalog=DVMC;Persist Security Info=True;User ID=sa;Password=sa123456"
            providerName="System.Data.SqlClient" />
        <add name="IPCOREDS.Properties.Settings.BKI_DVMCConnectionString"
            connectionString="Data Source=27.118.16.97;Initial Catalog=BKI_DVMC;Persist Security Info=True;User ID=sa;Password=123@bcdE.!@#_ATT"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>