<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="TOSApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
   <section name="TICApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="TOSApp.Properties.Settings.BKI_DVMCConnectionString"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="RUN_MODE" value="RELEASE"/>
		<add key="MA_DON_VI" value="GEN"/>
		<add key="MA_HE_THONG" value="KT"/>

    <add key="SERVER" value="E08hX9y4IG7XIm05a/3y7kst2YjyjSEdBJCA1HCpp5Y="/>
    <add key="INITIAL_DATABASE" value="PFk4siQXWcQXExkXHl0AHw=="/>
		<add key="FILL_DATABASE" value="PFk4siQXWcQXExkXHl0AHw=="/>
		<add key="DATABASE_ACCESS_MODE" value="VbOK8ia+9IT/fqilCd5Vqsgnnf4HUd9c2biJxQahBQI="/>		
		<add key="INITIAL_USER" value="6c6E4Kh7dVz/zUnU19rflg=="/>
		<add key="PASS_WORD" value="kTWYj/JI3Blx6Qrq5p9T/A=="/>
   
   <!--<add key="SERVER" value="S3gVvj0XSHtWso05e3Pl7o3OIiXlsX8zcGDUkNjYCco="/>
    <add key="INITIAL_DATABASE" value="PFk4siQXWcQXExkXHl0AHw=="/>
		<add key="FILL_DATABASE" value="PFk4siQXWcQXExkXHl0AHw=="/>
		<add key="DATABASE_ACCESS_MODE" value="VbOK8ia+9IT/fqilCd5Vqsgnnf4HUd9c2biJxQahBQI="/>		
		<add key="INITIAL_USER" value="cZZyBPqy0FKAGaCi0okHyg=="/>
		<add key="PASS_WORD" value="f6Y1P5VEw0oC+rGUBTsCDQ=="/>-->
   
    <add key="MA_TRUONG" value="0000"/>
   <add key="VER_BUILD_LOGIN" value="DVMC v1.1 2015-05-16"/>
    <add key="WEB_CALL_URL" value="http://203.162.121.70:8080/TPCServer/tpc/DoAction.jsp?event="/>
    <add key="WEB_RECORDS" value="http://crmtpe.topica.vn/Recordings/"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
  <TOSApp.Properties.Settings>
   <setting name="TICApp_SCMServices_SyncData" serializeAs="String">
    <value>http://210.245.89.37:88/SyncData.asmx</value>
   </setting>
   <setting name="TOSApp_WSCallCenter_CallCenterService" serializeAs="String">
    <value>http://203.162.121.70:8080/TPCDialOut2/services/CallCenter</value>
   </setting>
  </TOSApp.Properties.Settings>
  <TICApp.Properties.Settings>
   <setting name="TICApp_SCMServices_SyncData" serializeAs="String">
    <value>http://210.245.89.37:88/SyncData.asmx</value>
   </setting>
  </TICApp.Properties.Settings>
 </applicationSettings>
</configuration>
