<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RUN_MODE" value="DEVELOP" />	
		<add key="FONTNAME" value="BVDTArial"/>
		<add key="SERVER_NAME" value="192.168.10.5"/>
		<add key="DB_NAME" value=""/>
		<add key="INITIAL_USER" value="crmtpe"/>
		<add key="PASS_WORD" value=""/>
    <add key="LANGUAGE" value="FMS-VN"/>
	</appSettings>	
</configuration>
